.App {
	min-height: 100vh;
}

.Header {
	height: 5vh;
}

.MainBody {
	min-height: 90vh;
}

.Footer {
	height: 5vh;
}

/* width */
::-webkit-scrollbar {
	width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
	background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
	background: #888;
	border-radius: 50px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
	background: #555;
}
