.Container {
	min-width: 100px;
	width: 800px;
	height: fit-content;
}

.Query {
	min-width: 300px;
	transition: all 0.5s;
}

.Icon {
	object-fit: contain;
	width: auto;
	height: auto;
	background: transparent;
}

.Select {
	margin-top: 10px;
	margin-bottom: 10px;
}
