.TitleBar {
	padding-top: 8px;
	padding-bottom: 8px;
	border-bottom: 1px solid hsl(0, 0%, 95%);
}

.Link {
	text-decoration: none;
}

.Link i {
	color: hsl(207, 82%, 52%);
}

.Search {
	border: 1px solid hsl(0, 0%, 90%);
	border-radius: 30px;
	padding-left: 10px;
}
