.Container {
	width: 100%;
	height: 600px;
}

.Query {
	width: max-content;
}

.Query strong {
	color: hsl(207, 100%, 40%);
}

.Icon {
	object-fit: contain;
	width: auto;
	height: auto;
	background: transparent;
}
