.Title {}

.Body {
   min-height: inherit;
}

.Results {
   max-height: 70dvh;
   overflow-y: auto;
   box-shadow: inset 0px -5px red;
}

.Button {
   background-color: transparent;
}

.Button:hover {
   background-color: hsl(350, 10%, 90%);
   transition: all 0.8s;
}