.Title {
}

.Body {
	min-height: inherit;
}

.Results {
	max-height: 50svh;
	overflow-y: scroll;
	position: relative;
}

.Button:hover {
	background-color: hsl(240, 10%, 90%);
	transition: all 0.8s;
}

.Listing {
	box-shadow: 0 0 2px grey;
	z-index: 10;
}

@media (min-width: 992px) {
	.Results {
		max-height: 90dvh;
	}
}
