.Title {
}

.Body {
	min-height: inherit;
}

.Results {
	max-height: 89dvh;
	overflow-y: auto;
	scroll-behavior: smooth;
}

.Button {
	background-color: transparent;
}

.Button:hover {
	background-color: hsl(350, 10%, 90%);
	transition: all 0.8s;
}
