.Main {
	background-color: white;
	position: absolute;
	left: 50%;
	transform: translate(-50%);
	margin-top: 10px;
	max-height: 400px;
	border-radius: 10px;
	padding: 10px;
	z-index: 2;
	overflow: hidden;
	overflow-y: auto;
	box-shadow: 0 5px 15px hsl(0, 0%, 85%);
}

.Option {
	border: 1px solid hsl(0, 0%, 85%);
}
